In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
train = pd.read_csv(r"C:/Users/Pratibha.Pratibha-PC/Desktop/Sentiment Analysis-tensorflow/train_E6oV3lV.csv",encoding='latin1')
test = pd.read_csv(r"C:/Users/Pratibha.Pratibha-PC/Desktop/Sentiment Analysis-tensorflow/test_tweets_anuFYb8.csv",encoding='latin1')

In [3]:
train.head()

   id  label                                              tweet
0   1      0  @user when a father is dysfunctional and is so...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [4]:
test.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964  @user #white #supremacists want everyone to se...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [5]:
train['label'] = train['label'].astype('category')

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 3 columns):
id       31962 non-null int64
label    31962 non-null category
tweet    31962 non-null object
dtypes: category(1), int64(1), object(1)
memory usage: 530.8+ KB

In [7]:
from nltk.stem import WordNetLemmatizer
from nltk import tokenize
from sklearn.feature_extraction.text import TfidfVectorizer
import re

In [8]:
import nltk
nltk.download('wordnet')
train['text_lem'] = [''.join([WordNetLemmatizer().lemmatize(re.sub('[^A-Za-z]',' ',text)) for text in lis]) for lis in train['tweet']]
test['text_lem'] = [''.join([WordNetLemmatizer().lemmatize(re.sub('[^A-Za-z]',' ',text)) for text in lis]) for lis in test['tweet']]

[nltk_data] Downloading package wordnet to C:\Users\Pratibha.Pratibha-
[nltk_data]     PC\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [17]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(train['text_lem'],train['label'])

In [18]:
vect = TfidfVectorizer(ngram_range = (1,4)).fit(X_train)

In [19]:
vect_transformed_X_train = vect.transform(X_train)
vect_transformed_X_test = vect.transform(X_test)

In [20]:
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import f1_score

In [21]:
#F1 score is used as an evaluation measure as, when the data is skewed like in this case, where the number of hate speech tweets are very less, accuracy cannot be relied upon.¶

In [22]:
modelLR = LogisticRegression(C=100).fit(vect_transformed_X_train,y_train)

C:\Users\Pratibha.Pratibha-PC\AppData\Roaming\Python\Python37\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [23]:
predictionsLR = modelLR.predict(vect_transformed_X_test)
sum(predictionsLR==1),len(y_test),f1_score(y_test,predictionsLR)

(416, 7991, 0.7039674465920651)

In [24]:
vect = TfidfVectorizer(ngram_range = (1,4)).fit(train['text_lem'])
vect_transformed_train = vect.transform(train['text_lem'])
vect_transformed_test = vect.transform(test['text_lem'])

In [25]:
FinalModel = LogisticRegression(C=100).fit(vect_transformed_train,train['label'])
predictions = FinalModel.predict(vect_transformed_test)
submission = pd.DataFrame({'id':test['id'],'label':predictions})
submission

C:\Users\Pratibha.Pratibha-PC\AppData\Roaming\Python\Python37\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

          id  label
0      31963      0
1      31964      0
2      31965      0
3      31966      0
4      31967      0
5      31968      0
6      31969      0
7      31970      0
8      31971      0
9      31972      0
10     31973      0
11     31974      0
12     31975      0
13     31976      0
14     31977      0
15     31978      0
16     31979      0
17     31980      0
18     31981      0
19     31982      1
20     31983      0
21     31984      0
22     31985      0
23     31986      0
24     31987      0
25     31988      0
26     31989      1
27     31990      0
28     31991      0
29     31992      0
...      ...    ...
17167  49130      0
17168  49131      0
17169  49132      0
17170  49133      0
17171  49134      0
17172  49135      0
17173  49136      0
17174  49137      0
17175  49138      0
17176  49139      1
17177  49140      0
17178  49141      0
17179  49142      0
17180  49143      0
17181  49144      0
17182  49145      0
17183  49146      0
17184  49147      0
17185  49148      0
17186  49149      0
17187  49150      0
17188  49151      1
17189  49152      0
17190  49153      0
17191  49154      0
17192  49155      1
17193  49156      0
17194  49157      0
17195  49158      0
17196  49159      0

[17197 rows x 2 columns]

In [27]:
print(f1_score(y_test,predictionsLR))

0.7039674465920651